/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

nav {
  background-color: #fab3ad;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-weight: bold;
}

nav li {
  float: left;
  font-weight: bold;
}

nav li a {
  display: block;
  color: #2c2827;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav li a:hover {
  background-color: 	#8da99b;
}

nav::after {
  content: "";
  display: table;
  clear: both;
}

li.right {
  float: right;
}

.form-container {
  width: 300px;
  padding: 16px;
  background-color: white;
  margin: 0 auto;
  margin-top: 100px;
  border: 1px solid black;
  border-radius: 4px;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  font-weight: bold;
  margin-top: 10px;
}

input[type="text"], input[type="password"], input[type="email"] {
  padding: 10px;
  margin-top: 5px;
  border-radius: 4px;
  border: 1px solid grey;
}

input[type="submit"] {
  margin-top: 10px;
  padding: 10px;
  border-radius: 4px;
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #45a049;
}

.styled-image {
  width: 50%;
  height: auto;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
 }
 
.styled-image:hover {
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
 }

.styled-paragraph {
  color: #333; 
  font-size: 18px; 
  line-height: 1.6; 
  text-align: justify; 
  padding: 10px; 
  background-color: #f8f8f8; 
  border: 1px solid #ddd; 
  border-radius: 4px; 
 }

.alert {
  padding: 20px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
 }
 
.alert-notice {
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6;
 }
 
.alert-alert {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
 }

/* Table container */
.table-container {
  width: 100%;
  overflow-x: auto; /* Enables horizontal scrolling if content overflows */
}

/* Table styling */
table {
  width: 100%; /* Full-width table */
  border-collapse: collapse; /* Collapse borders */
  margin-bottom: 20px; /* Space below the table */
}

th, td {
  padding: 12px 15px; /* Padding around cell content */
  text-align: left; /* Align text to the left */
  border-bottom: 1px solid #2c2827; /* Bottom border */
}

/* Header styling */
th {
  background-color: #57675c;
  color: white; /* Text color */
  font-weight: bold; /* Bold header text */
}

/* Row styling */
tr:nth-child(odd) {
  background-color: #8da99b;
}

tr:nth-child(even) {
  background-color: #8da99b;
}

/* Hover effect */
tr:hover {
  background-color: #fab3ad;
}

/* Border styling */
td, th {
  border-right: 1px solid #2c2827; /* Right border */
}
/* Form styling */
form {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

label {
  font-weight: bold;
  margin-top: 10px;
}

input[type="text"] ,
input[type="password"],
input[type="email"] {
  padding: 10px;
  margin-top: 5px;
  border-radius: 4px;
  border: 1px solid grey;
}

input[type="submit"] {
  margin-top: 10px;
  padding: 10px;
  border-radius: 4px;
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #45a049;
}

@media screen and (max-width: 600px) {
  table, thead, tbody, th, td, tr {
    display: block;
  }
}

* {
font-family: Arial, sans-serif; 
}